{% extends 'base.html.twig' %}

{% block body %}
    <h3>Matches ({{ matches|length }})</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Player1</th>
                <th>Player2</th>
                <th>Result</th>
                <th>Drawround</th>
                <th>Drawroundnumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td><a class="btn btn-link" href="{{ path('match_show', { 'id': match.id }) }}">{{ match.id }}</a></td>
                <td>{% if match.date %}{{ match.date|date('Y-m-d') }}{% endif %}</td>
                <th>{{ match.player1 }}</th>
                <th>{{ match.player2}}</th>
                <th style="font-size: 1.2em"
                    {% if match.player2Points > match.player1Points %}
                    class="bg-danger"
                    {% endif %}
                >
                    {{ match.player1Points }} - {{ match.player2Points }}
                </th>
                <td>{{ match.drawRound }}</td>
                <td>{{ match.drawRoundNumber }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('match_show', { 'id': match.id }) }}">show</a>
                    <a class="btn btn-info" href="{{ path('match_edit', { 'id': match.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('match_new') }}">Create a new match</a>
{% endblock %}
