{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <a href="{{ path('city_index') }}" class="">city</a><br>
    <a href="{{ path('club_index') }}" class="">club</a><br>
    <a href="{{ path('court_index') }}" class="">court</a><br>
    <a href="{{ path('championat_index') }}" class="">championat</a><br>
    <a href="{{ path('championathasplayer_index') }}" class="">championat has player</a><br>
    <hr>
    <a href="{{ path('group_index') }}" class="">group</a><br>
    <a href="{{ path('draw_index') }}" class="">bracket</a><br>
    <hr>
    <a href="{{ path('player_index') }}" class="">player</a><br>
    <a href="{{ path('match_index') }}" class="">match</a><br>
{% endblock %}