{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for key,round in rounds %}
            <div class="col">
                <h3>{{ (key~'round')|trans }}</h3> <br>
                {% for match in round %}
                    <table class="table">
                        <tr>
                            <td>{{ match.player1}}</td>
                            <td>{{ match.player1Points }}</td>
                        </tr>
                        <tr>
                            <td>{{ match.player2}}</td>
                            <td>{{ match.player2Points }}</td>
                        </tr>
                    </table>
                    <br>
                {% endfor %}

            </div>
        {% endfor %}
    </div>
{% endblock%}