{% extends 'base.html.twig' %}

{% block body %}
    <h3>Draw</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ draw.id }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ draw.capacity }}</td>
            </tr>
        </tbody>
    </table>

<a class="btn btn-default" href="{{ path('draw_index') }}">Back to the list</a>
<a class="btn btn-info" href="{{ path('draw_edit', { 'id': draw.id }) }}">Edit</a>
{{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete">
{{ form_end(delete_form) }}
{% endblock %}
