{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {{ group.name }}
        </div>
        <table class="table table-bordered">
            <tr>
                <th></th>
                {% for player in group.players %}
                    <th class="table-info">
                        {{ player.lastname }}
                    </th>
                {% endfor%}
            </tr>


            {% for player in group.players %}
                <tr>
                    <th class="table-info"> {{ player.lastname }}
                        {% set lindex = matrix[loop.index0] %}
                    </th>
                    {% for match in lindex %}
                        <th>
                            {{ match }}
                        </th>
                    {% endfor  %}

                </tr>
            {% endfor%}
        </table>
    </div>
    <br>


<a class="btn btn-default" href="{{ path('group_index') }}">Back to the list</a>
<a class="btn btn-info" href="{{ path('group_edit', { 'id': group.id }) }}">Edit</a>
{{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete">
{{ form_end(delete_form) }}
{% endblock %}
