{% extends 'base.html.twig' %}

{% block body %}
    <h3>Cities</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td><a class="btn btn-link" href="{{ path('city_show', { 'id': city.id }) }}">{{ city.id }}</a></td>
                <td>{{ city.name }}</td>
                <td>                        <a class="btn btn-info" href="{{ path('city_show', { 'id': city.id }) }}">show</a>                        <a class="btn btn-info" href="{{ path('city_edit', { 'id': city.id }) }}">edit</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('city_new') }}">Create a new city</a>
{% endblock %}
