{% extends 'base.html.twig' %}

{% block body %}
    <h3>Clubs</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td><a class="btn btn-link" href="{{ path('club_show', { 'id': club.id }) }}">{{ club.id }}</a></td>
                <td>{{ club.name }}</td>
                <td>                        <a class="btn btn-info" href="{{ path('club_show', { 'id': club.id }) }}">show</a>                        <a class="btn btn-info" href="{{ path('club_edit', { 'id': club.id }) }}">edit</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('club_new') }}">Create a new club</a>
{% endblock %}
