{% extends 'base.html.twig' %}

{% block body %}
    <h3>Rankings</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ranking in rankings %}
            <tr>
                <td><a class="btn btn-link" href="{{ path('ranking_show', { 'id': ranking.id }) }}">{{ ranking.id }}</a></td>
                <td>{{ ranking.name }}</td>
                <td>                        <a class="btn btn-info" href="{{ path('ranking_show', { 'id': ranking.id }) }}">show</a>                        <a class="btn btn-info" href="{{ path('ranking_edit', { 'id': ranking.id }) }}">edit</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('ranking_new') }}">Create a new ranking</a>
{% endblock %}
